<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <title>About Us</title>
    @{
        ViewBag.Title = "About";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>About us</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    

</body>
</html>

