<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
    <title>Drag and Drop Game</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @*bradcam_area_start *@
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Game Selection</h3>
                </div>
            </div>
        </div>
    </div>
    @*bradcam_area_end *@
    <!-- slide -->
    <div class="abt_bottom py-lg-3 bg-theme">
        <div class="container py-sm-4 py-3">
            <h4 class="abt-text text-capitalize text-sm-center mb-0">Let's explore different species in each grassland habitat</h4>
            <p class="text-white text-sm-center ">Choose from the following grassland habitats!</p>
        </div>
    </div>
    <!--//slide -->
    <section class="wthree-row w3-gallery cliptop-portfolio-wthree pt-lg-5" style="margin-left: 5%;">
        <div class="container-fluid" style="width: 100%;height: auto;">
            <ul class="row py-lg-5 py-sm-4 pb-4">
                <li class="col-lg-6 col-sm-6">
                    <div class="habitatContainer" style="width: 40vw; height: 20vw; display: block; align-items:center;">
                        <a href='@Url.Action("DragDropRocky", "Home")' />
                        <img src="~/img/info_rocky.jpg" alt="Avatar" style="width: 40vw; height: 20vw; align-items:center;">
                        <div class="habitatOverlay habitatOverlayFade">
                            <div class="habitatText">Rocky Grassland</div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-6 col-sm-6">
                    <div class="habitatContainer" style="width: 40vw; height: 20vw; display: block; align-items:center;">
                        <a href='@Url.Action("DragDropWoodland", "Home")' />
                        <img src="~/img/info_woodland.jpg" alt="Avatar" style="width: 40vw; height: 20vw; align-items:center;">
                        <div class="habitatOverlay habitatOverlayFade">
                            <div class="habitatText">Woodland</div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-6 col-sm-6" style="margin-top: 1%;">
                    <div class="habitatContainer" style="width: 40vw; height: 20vw; display: block; align-items:center;">
                        <a href='@Url.Action("DragDropGrassland", "Home")' />
                        <img src="~/img/info_soilsPlains.jpg" alt="Avatar" style="width: 40vw; height: 20vw; align-items:center;">
                        <div class="habitatOverlay habitatOverlayFade">
                            <div class="habitatText">Plain</div>
                        </div>
                    </div>
                </li>
                <li class="col-lg-6 col-sm-6" style="margin-top: 1%;">
                    <div class="habitatContainer" style="width: 40vw; height: 20vw; display: block; align-items:center;">
                        <a href='@Url.Action("DragDropWetland", "Home")' />
                        <img src="~/img/info_wetland.jpg" alt="Avatar" style="width: 40vw; height: 20vw; align-items:center;">
                        <div class="habitatOverlay habitatOverlayFade">
                            <div class="habitatText">Wetland</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--my js-->
    <script src="~/js/myjs.js"></script>
    <!--my js-->
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
</body>
