<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <link rel="stylesheet" href="~/css/info.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
</head>

<body>
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Grassland Information</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <!--text_slider_start-->
    <div class="prising_area">
        <div class="container">
            <div class="row">
                <div style="padding: 25px;">
                    <h1>Let's Explore The Victorian Volcanic Plain</h1>
                    <p>Slide to see more</p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="prising_slider_active owl-carousel">
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                About Grassland

                                            </h2>
                                            <p>
                                                Grassland is a vegetation area dominated by almost continuously covered grass, and it is also one of the most widely distributed main vegetation types in the world.
                                                Usually natural grassland can be considered as the middle part of the environmental gradient, with forest at one end and desert at the other end.
                                                The grassland plays an important balancing role for the earth's environment.

                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_grasslands.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                History of Victorian Grassland
                                            </h2>
                                            <p>
                                                When Europeans first arrived in western Victoria, much of the extensive undulating plains they saw were covered with native grasslands.
                                                However, starting from the 1830s, the local grasslands were quickly occupied because grazing there did not require much effort. Soon after,
                                                large areas of native grassland in Victoria were completely replaced by introduced pastures, crops and weeds.
                                                For people living in Victoria, the Victoria Volcanic Plain,
                                                located from the west of Melbourne to the border of South Australia, is the largest natural grassland nowadays, but compared to the pre-European colonial era, it has only 5% of the area left.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/vicBioregions.png" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                Grassland Ecosystem of Victoria Volcanic Plain
                                            </h2>
                                            <p>
                                                The natural temperate grassland of the Victoria Volcanic Plain is a highly fragmented and critically endangered ecological community.
                                                It is well known that the largest native animals on the Australian grassland is the kangaroo, the biggest of which is the red kangaroo, characteristic of the natural grassland in the dry inland areas.
                                                But because of the arrival of European immigrants, mammals introduced from other continents have become equally common.
                                                These animals include domestic animals, especially cattle and sheep, as well as a series of wild animals such as camels, horses, donkeys and goats.
                                                The biggest natural enemy to the grassland is the European rabbit, they are widely distributed, have strong reproductive ability, and their destructive power is also amazing.
                                                However, Australia does not have large predators, so the main predator is dingo. There are very diverse reptiles, especially lizards, and various birds including large flightless emu, and various parrots.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_rabbits.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px " />
                                            <p>Rabbits can impact native vegetation, revegetation, and pastures alike. Photo: Pest Smart CRC</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--text_slider_end-->

    <!--img_slider_start-->
    <!--<div align="center">
        <div class="col-xs-12 col-md-12 col-ld-12 col-sm-12">
            <h1 style="text-align: center;">Discover changes in grasslands in Volcanic Plains Victoria</h1>
        </div>
        <div>
            <div id="page">
                <div class="wrapper">
                    <div class="before">
                        <img class="content-image" src="~/img/vvp1984.jpeg" draggable="false" />
                    </div>
                    <div class="after">
                        <img class="content-image" src="~/img/vvp2016.jpeg" draggable="false" />
                    </div>
                    <div class="scroller">
                        <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#fff" /><polygon points="100 50 64 32 64 68 100 50" style="fill:#fff" /></svg>
                    </div>
                </div>
            </div>
            <p>Reference: </p>
        </div>
    </div>-->
    <!--img_slider_end-->

    <script src="~/js/imgSlider.js"></script>
</body>



</html>

