<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <link rel="stylesheet" href="~/css/info.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <style>
        * {
            box-sizing: border-box;
        }

        .img-comp-container {
            position: relative;
            height: 200px; /*should be the same height as the images*/
        }

        .img-comp-img {
            position: absolute;
            width: auto;
            height: auto;
            overflow: hidden;
        }

            .img-comp-img img {
                display: block;
                vertical-align: middle;
            }

        .img-comp-slider {
            position: absolute;
            z-index: 9;
            cursor: ew-resize;
            /*set the appearance of the slider:*/
            width: 40px;
            height: 40px;
            background-color: #2196F3;
            opacity: 0.7;
            border-radius: 50%;
        }
    </style>

    <script>
        function initComparisons() {
            var x, i;
            /*find all elements with an "overlay" class:*/
            x = document.getElementsByClassName("img-comp-overlay");
            for (i = 0; i < x.length; i++) {
                /*once for each "overlay" element:
                pass the "overlay" element as a parameter when executing the compareImages function:*/
                compareImages(x[i]);
            }
            function compareImages(img) {
                var slider, img, clicked = 0, w, h;
                /*get the width and height of the img element*/
                w = img.offsetWidth;
                h = img.offsetHeight;
                /*set the width of the img element to 50%:*/
                img.style.width = (w / 2) + "px";
                /*create slider:*/
                slider = document.createElement("DIV");
                slider.setAttribute("class", "img-comp-slider");
                /*insert slider*/
                img.parentElement.insertBefore(slider, img);
                /*position the slider in the middle:*/
                slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
                slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
                /*execute a function when the mouse button is pressed:*/
                slider.addEventListener("mousedown", slideReady);
                /*and another function when the mouse button is released:*/
                window.addEventListener("mouseup", slideFinish);
                /*or touched (for touch screens:*/
                slider.addEventListener("touchstart", slideReady);
                /*and released (for touch screens:*/
                window.addEventListener("touchend", slideFinish);
                function slideReady(e) {
                    /*prevent any other actions that may occur when moving over the image:*/
                    e.preventDefault();
                    /*the slider is now clicked and ready to move:*/
                    clicked = 1;
                    /*execute a function when the slider is moved:*/
                    window.addEventListener("mousemove", slideMove);
                    window.addEventListener("touchmove", slideMove);
                }
                function slideFinish() {
                    /*the slider is no longer clicked:*/
                    clicked = 0;
                }
                function slideMove(e) {
                    var pos;
                    /*if the slider is no longer clicked, exit this function:*/
                    if (clicked == 0) return false;
                    /*get the cursor's x position:*/
                    pos = getCursorPos(e)
                    /*prevent the slider from being positioned outside the image:*/
                    if (pos < 0) pos = 0;
                    if (pos > w) pos = w;
                    /*execute a function that will resize the overlay image according to the cursor:*/
                    slide(pos);
                }
                function getCursorPos(e) {
                    var a, x = 0;
                    e = e || window.event;
                    /*get the x positions of the image:*/
                    a = img.getBoundingClientRect();
                    /*calculate the cursor's x coordinate, relative to the image:*/
                    x = e.pageX - a.left;
                    /*consider any page scrolling:*/
                    x = x - window.pageXOffset;
                    return x;
                }
                function slide(x) {
                    /*resize the image:*/
                    img.style.width = x + "px";
                    /*position the slider:*/
                    slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
                }
            }
        }
    </script>

</head>

<body>
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Grassland Information</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <!--text_slider_start-->
    <div class="prising_area">
        <div class="container">

            <div class="row">
                <div style="padding: 25px;">
                    <h1>Victorian Volcanic Plain Comparison</h1>
                    <p>Satellite image taken by Google</p>
                    <br>
                </div>
            </div>

            <!--img_slider_start-->
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-10">
                    <div class="section_title text-center mb-55">
                        <div class="img-comp-container">
                            <div class="img-comp-img">
                                <img src="~/img/vvp2016.jpeg" width="300" height="250">
                            </div>
                            <div class="img-comp-img img-comp-overlay">
                                <img src="~/img/vvp1984.jpeg" width="300" height="250">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
                initComparisons();
            </script>
            <!--img_slider_end-->

            <div class="row">
                <div style="padding: 25px;">
                    <h1>Let's Explore The Victorian Volcanic Plain</h1>
                    <p>Slide to see more</p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="prising_slider_active owl-carousel">
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                About Grassland
                                            </h2>
                                            <p>
                                                Grassland is a vegetation area dominated by almost continuously covered grass, and it is also one of the most widely distributed main vegetation types in the world.
                                                <a href='@Url.Action("SeeMore1", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_grasslands.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                History of Victorian Grassland
                                            </h2>
                                            <p>
                                                When Europeans first arrived in western Victoria, much of the extensive undulating plains they saw were covered with native grasslands.
                                                <a href='@Url.Action("SeeMore2", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/vicBioregions.png" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                Grassland Ecosystem of Victoria Volcanic Plain
                                            </h2>
                                            <p>
                                                The natural temperate grassland of the Victoria Volcanic Plain is a highly fragmented and critically endangered ecological community.
                                                <a href='@Url.Action("SeeMore2", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_rabbits.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px " />
                                            <p>Rabbits can impact native vegetation, revegetation, and pastures alike. Photo: Pest Smart CRC</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--text_slider_end-->

    



    <script src="~/js/imgSlider.js"></script>
</body>



</html>

