<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Welcome to MelGrass
                            </h3>
                            <p>MelGrass will be your first step to protect Victorian grasslands</p>
                            <a href="#" class="boxed-btn3">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Discover knowledge through play-based programs
                            </h3>
                            <p>Challenge youself with out interractive play-based programs.</p>
                            @*<a href="#" class="boxed-btn3">Appointment</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Discover species in grasslands
                            </h3>
                            <p>Find out more information about different species in Victorian Volcanic Plains.</p>
                            @*<a href="#" class="boxed-btn3">Appointment</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->