<!DOCTYPE html>
<html>

@*@{
        ViewBag.Title = "DockyGrassland";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<head>
    <link rel='stylesheet' href='~/css/hotspot3.css'>
</head>

<body>
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Rocky Grassland</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <div class="container" style="padding-top:30px">
        <div class="section_title text-center">
            <h3>Let's explore this grassland</h3>
            <h1>Click the hotsposts and discover species</h1>
        </div>
    </div>
    <div class="container_2">
        <div class="container_2">
            <input type="checkbox" class="input" id="input19" name="inputs_2">
            <input type="checkbox" class="input" id="input20" name="inputs_2">
            <input type="checkbox" class="input" id="input21" name="inputs_2">
            <input type="checkbox" class="input" id="input22" name="inputs_2">
            <input type="checkbox" class="input" id="input23" name="inputs_2">
            <input type="checkbox" class="input" id="input24" name="inputs_2">
            <label for="input19">
                <div id="b7" class="button">1</div>
            </label>
            <label for="input20">
                <div id="b8" class="button">2</div>
            </label>
            <label for="input21">
                <div id="b9" class="button">3</div>
            </label>
            <label for="input22">
                <div id="b10" class="button">4</div>
            </label>
            <label for="input23">
                <div id="b11" class="button">5</div>
            </label>
            <label for="input24">
                <div id="b12" class="button">6</div>
            </label>
            <div id="content19" class="content_2">
                <div style="text-align: right;">
                    <label for="input19" class="cross_2">X</label>
                </div>
                <h1>Golden thistle</h1>
                <img src="~/img/hoarySunray.jpg" alt="Hoary Sunray" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>
            <div id="content20" class="content_2">
                <div style="text-align: right;">
                    <label for="input20" class="cross_2">X</label>
                </div>
                <h1>Hardheads</h1>
                <img src="~/img/scalyButtons.jpg" alt="Scaly Buttons" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more </a>
            </div>

            <div id="content21" class="content_2">
                <div style="text-align: right;">
                    <label for="input21" class="cross_2">X</label>
                </div>
                <h1>Wheel Cactus</h1>
                <img src="~/img/kneedSpearGrass.jpg" alt="Kneed Spear Grass" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more </a>
            </div>

            <div id="content22" class="content_2">
                <div style="text-align: right;">
                    <label for="input22" class="cross_2">X</label>
                </div>
                <h1>Pink-tailed Worm-Lizard</h1>
                <img src="~/img/lemonBeautyHeads.jpg" alt="Lemon Beauty Heads" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content23" class="content_2">
                <div style="text-align: right;">
                    <label for="input23" class="cross_2">X</label>
                </div>
                <h1>Alpine She-oak Skink</h1>
                <img src="~/img/riceFlower.jpg" alt="Rice Flowera" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more </a>
            </div>

            <div id="content24" class="content_2">
                <div style="text-align: right;">
                    <label for="input24" class="cross_2">X</label>
                </div>
                <h1>Striped Legless Lizard</h1>
                <img src="~/img/plumeGrass.jpg" alt="Plume Grass" style="width: 200px; height: 200px">
                <br>
                <a href="#" class="cta_2">Find out more </a>
            </div>
        </div>

        @*<div id="content11" class="content_2">
            <div style="text-align: right;">
                <label for="input23" class="cross_2">X</label>
            </div>
            <h1>Alpine She-oak Skink</h1>
            <img src="~/img/riceFlower.jpg" alt="Rice Flowera" style="width: 200px; height: 200px">
            <br>
            <a href="#" class="cta_2">Find out more </a>
        </div>*@
    </div>




</body>
</html>

