<!DOCTYPE html>
<html>
@*@{
        ViewBag.Title = "Testing";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<head>
    <link rel='stylesheet' href='~/css/hotspot2.css'>
    <script>
        function check() {
            var anyChecked = false;
            var time = 0;
            var form = document.getElementById('bag2');
            var checkboxes = form.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    time++;
                    alert(i + "Checked");
                }
            }
            if (time = 7) {
                document.getElementById("gamebtn2").style.display = "block";
            }

        }
    </script>
</head>

<body style="font-family:fantasy !important;">
    <!--bradcam_area_start-->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Wetland</h3>
                </div>
            </div>
        </div>
    </div>


    <!--bradcam_area_end-->
    <div class="container" style="padding-top:1%; padding-bottom:1%">
        <div class="section_title text-center">
            <h3>Let's see what species you can find in this grassland first</h3>
            <p>Click the hotsposts and discover species</p>
        </div>
        <a class="btn bg-theme w3_pvt-link-bnr" id="gamebtn2" style="position:relative; left:4vw; " href='@Url.Action("Select", "Home")'
           role="button">Back</a>
        <a class="btn bg-theme w3_pvt-link-bnr" id="gamebtn2" style="position:relative; left:58vw; " href='@Url.Action("DragDropWetland", "Home")'
           role="button">Play</a>
    </div>

    <div class="container_2">
        <div class="container_2" id="bag2">
            <input type="checkbox" class="input" id="input13" name="inputs2">
            <input type="checkbox" class="input" id="input14" name="inputs2">
            <input type="checkbox" class="input" id="input15" name="inputs2">
            <input type="checkbox" class="input" id="input16" name="inputs2">
            <input type="checkbox" class="input" id="input17" name="inputs2">
            <input type="checkbox" class="input" id="input18" name="inputs2">
            <input type="checkbox" class="input" id="input101" name="inputs2">
            <label for="input13">
                <div id="b13" class="button">1</div>
            </label>
            <label for="input14">
                <div id="b14" class="button">2</div>
            </label>
            <label for="input15">
                <div id="b15" class="button">3</div>
            </label>
            <label for="input16">
                <div id="b16" class="button">4</div>
            </label>
            <label for="input17">
                <div id="b17" class="button">5</div>
            </label>
            <label for="input18">
                <div id="b18" class="button">6</div>
            </label>
            <label for="input101">
                <div id="b101" class="button">7</div>
            </label>
            <div id="content13" class="content_2">
                <div style="text-align: right;">
                    <label for="input13" class="cross_2">X</label>
                </div>
                @*<h1>Spike-sedges</h1>*@
                <img src="~/img/wetland/African Feather Grass.png" alt="Spike sedges" style="width: 30vw; height: auto; margin-left:4.5vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>

            <div id="content14" class="content_2">
                <div style="text-align: right;">
                    <label for="input14" class="cross_2">X</label>
                </div>
                @*<h1>Rushes</h1>*@
                <img src="~/img/wetland/Growling-Grass-Frog.png" alt="rushes" style="width: 30vw; height: auto; margin-left:4.5vw">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content15" class="content_2">
                <div style="text-align: right;">
                    <label for="input15" class="cross_2">X</label>
                </div>
                @*<h1>Adamson's Blowngrass</h1>*@
                <img src="~/img/wetland/Cane Toad.png" alt="Adamson's Blowngrass" style="width: 30vw; height: auto; margin-left:4.5vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>

            <div id="content16" class="content_2">
                <div style="text-align: right;">
                    <label for="input16" class="cross_2">X</label>
                </div>
                @*<h1>Spiny Rice-Flower</h1>*@
                <img src="~/img/wetland/Eastern Curlew.png" alt="Spiny Rice-flower" style="width: 30vw; height: auto; margin-left:4.5vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>

            <div id="content17" class="content_2">
                <div style="text-align: right;">
                    <label for="input17" class="cross_2">X</label>
                </div>
                @*<h1>Swamp Fireweed</h1>*@
                <img src="~/img/wetland/Thorn Apple.png" alt="Rice Flowera" style="width: 30vw; height: auto; margin-left:4.5vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>

            <div id="content18" class="content_2">
                <div style="text-align: right;">
                    <label for="input18" class="cross_2">X</label>
                </div>
                @*<h1>Gorae Leek-orchid</h1>*@
                <img src="~/img/wetland/Great Knot.png" alt="Gorae Leek-orchid" style="width: 30vw; height: auto; margin-left:4vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>

            <div id="content101" class="content_2">
                <div style="text-align: right;">
                    <label for="input101" class="cross_2">X</label>
                </div>
                @*<h1>Gorae Leek-orchid</h1>*@
                <img src="~/img/wetland/Australian-Painted-snipe.png" alt="Gorae Leek-orchid" style="width: 30vw; height: auto; margin-left:4vw">
                @*<br>
                    <a href="#" class="cta_2">Find out more</a>*@
            </div>


        </div>
    </div>
    



    @*<script>
            function check() {
                var anyChecked = false;
                var time = 0;
                var form = document.getElementById('bag2');
                var checkboxes = form.getElementsByTagName('input');
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        time++;
                        alert(i + "Checked");
                    }
                }
                if (time = 7) {
                    document.getElementById("gamebtn2").style.display = "block";
                }

            }
        </script>*@




</body>
</html>