@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<script language="JavaScript" src="~/js/pw.js"></script>*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MelGrass</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/grassland_logo.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/hotspot.css">
    <link rel="stylesheet" href="~/css/hotspot1.css">
    <link rel="stylesheet" href="~/css/hotspot2.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <link rel="stylesheet" href="~/css/info.css">
    <!-- CSS end -->
    <link rel="stylesheet" href="~/css/info.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <style>
        * {
            box-sizing: border-box;
        }

        .img-comp-container {
            position: relative;
            height: 200px; /*should be the same height as the images*/
        }

        .img-comp-img {
            position: absolute;
            width: auto;
            height: auto;
            overflow: hidden;
        }

            .img-comp-img img {
                display: block;
                vertical-align: middle;
            }

        .img-comp-slider {
            position: absolute;
            z-index: 9;
            cursor: ew-resize;
            /*set the appearance of the slider:*/
            width: 40px;
            height: 40px;
            background-color: #2196F3;
            opacity: 0.7;
            border-radius: 50%;
        }
    </style>

    <script>
        function initComparisons() {
            var x, i;
            /*find all elements with an "overlay" class:*/
            x = document.getElementsByClassName("img-comp-overlay");
            for (i = 0; i < x.length; i++) {
                /*once for each "overlay" element:
                pass the "overlay" element as a parameter when executing the compareImages function:*/
                compareImages(x[i]);
            }
            function compareImages(img) {
                var slider, img, clicked = 0, w, h;
                /*get the width and height of the img element*/
                w = img.offsetWidth;
                h = img.offsetHeight;
                /*set the width of the img element to 50%:*/
                img.style.width = (w / 2) + "px";
                /*create slider:*/
                slider = document.createElement("DIV");
                slider.setAttribute("class", "img-comp-slider");
                /*insert slider*/
                img.parentElement.insertBefore(slider, img);
                /*position the slider in the middle:*/
                slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
                slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
                /*execute a function when the mouse button is pressed:*/
                slider.addEventListener("mousedown", slideReady);
                /*and another function when the mouse button is released:*/
                window.addEventListener("mouseup", slideFinish);
                /*or touched (for touch screens:*/
                slider.addEventListener("touchstart", slideReady);
                /*and released (for touch screens:*/
                window.addEventListener("touchend", slideFinish);
                function slideReady(e) {
                    /*prevent any other actions that may occur when moving over the image:*/
                    e.preventDefault();
                    /*the slider is now clicked and ready to move:*/
                    clicked = 1;
                    /*execute a function when the slider is moved:*/
                    window.addEventListener("mousemove", slideMove);
                    window.addEventListener("touchmove", slideMove);
                }
                function slideFinish() {
                    /*the slider is no longer clicked:*/
                    clicked = 0;
                }
                function slideMove(e) {
                    var pos;
                    /*if the slider is no longer clicked, exit this function:*/
                    if (clicked == 0) return false;
                    /*get the cursor's x position:*/
                    pos = getCursorPos(e)
                    /*prevent the slider from being positioned outside the image:*/
                    if (pos < 0) pos = 0;
                    if (pos > w) pos = w;
                    /*execute a function that will resize the overlay image according to the cursor:*/
                    slide(pos);
                }
                function getCursorPos(e) {
                    var a, x = 0;
                    e = e || window.event;
                    /*get the x positions of the image:*/
                    a = img.getBoundingClientRect();
                    /*calculate the cursor's x coordinate, relative to the image:*/
                    x = e.pageX - a.left;
                    /*consider any page scrolling:*/
                    x = x - window.pageXOffset;
                    return x;
                }
                function slide(x) {
                    /*resize the image:*/
                    img.style.width = x + "px";
                    /*position the slider:*/
                    slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
                }
            }
        }
    </script>
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="~/Iteration1/Index">
                                    <img src="~/img/grassland_logo.png" alt="" style="width:60%;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="~/Iteration1/Index">home</a></li>
                                                <li><a href="~/Iteration1/Grasslands">Grassland</a></li>
                                                <li>
                                                    <a href="#">Search <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="~/Species/Index">Species</a></li>
                                                        @*<li><a href="single-blog.html">single-blog</a></li>*@
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration1/About">about</a>
                                                </li>
                                                @*<li>
            <a href="~/Iteration1/DragDrop">Game</a>
        </li>*@
                                                <li>
                                                    <a href="~/Iteration1/Contact">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="book_room">
                                        <div class="book_btn">
                                            @*<a class="popup-with-form" href="#test-form">Function</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- slider_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Grassland Information</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <!--text_slider_start-->
    <div class="prising_area">
        <div class="container">

            <div class="row">
                <div style="padding: 25px;">
                    <h1>Victorian Volcanic Plain Comparison</h1>
                    <p>Satellite image taken by Google</p>
                    <br>
                </div>
            </div>

            <!--img_slider_start-->
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-10">
                    <div class="section_title text-center mb-55">
                        <div class="img-comp-container">
                            <div class="img-comp-img">
                                <img src="~/img/vvp2016.jpeg" width="300" height="250">
                            </div>
                            <div class="img-comp-img img-comp-overlay">
                                <img src="~/img/vvp1984.jpeg" width="300" height="250">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script>
                /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
                initComparisons();
            </script>
            <!--img_slider_end-->

            <div class="row">
                <div style="padding: 25px;">
                    <h1>Let's Explore The Victorian Volcanic Plain</h1>
                    <p>Slide to see more</p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="prising_slider_active owl-carousel">
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                About Grassland
                                            </h2>
                                            <p>
                                                Grassland is a vegetation area dominated by almost continuously covered grass, and it is also one of the most widely distributed main vegetation types in the world.
                                                <a href='@Url.Action("SeeMore1", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_grasslands.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                History of Victorian Grassland
                                            </h2>
                                            <p>
                                                When Europeans first arrived in western Victoria, much of the extensive undulating plains they saw were covered with native grasslands.
                                                <a href='@Url.Action("SeeMore2", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/vicBioregions.png" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-8">
                                        <div class="slider_text">
                                            <h2>
                                                Grassland Ecosystem of Victoria Volcanic Plain
                                            </h2>
                                            <p>
                                                The natural temperate grassland of the Victoria Volcanic Plain is a highly fragmented and critically endangered ecological community.
                                                <a href='@Url.Action("SeeMore2", "Home")'> (See more) </a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img src="~/img/info_rabbits.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px " />
                                            <p>Rabbits can impact native vegetation, revegetation, and pastures alike. Photo: Pest Smart CRC</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--text_slider_end-->
    <!-- footer_start  -->
    <div>
        <hr />
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-lg-5 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="~/img/grassland_logo.png" alt="">
                                    </a>
                                </div>
                                <p class="address_text">
                                    <br> <br> <br>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Information
                                </h3>
                                <ul class="links">
                                    <li><a href="~/Iteration1/About">About</a></li>
                                    <li><a href="~/Iteration1/Grasslands">Information</a></li>
                                    <li><a href="~/Iteration1/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Follow Us
                                </h3>
                                <ul class="links">
                                    <li><a href="#">FaceBook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#"> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer_start  -->
    <style>
        .home-act {
            color: aquamarine
        }
    </style>
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--my js-->
    <script src="~/js/myjs.js"></script>
    <!--my js-->
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });</script>




    <script src="~/js/imgSlider.js"></script>
</body>



</html>

