

.container1 {
    position: relative;
    overflow: hidden;
    height: 40vw;
    background-image: url("../img/info_woodland.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    display: none;
}

p {
    margin: 0;
}

.button {
    color: white;
    font-weight: bold;
    font-size: 1vw;
    background-color: #e0dcdc;
    display: block;
    padding: 1vw 1.5vw;
    border-radius: 100%;
    cursor: pointer;
    animation: fadein .5s;
    animation: pulse 1.5s infinite;
}

.content {
    position: relative;
    background: white;
    top: -5%;
    margin: 3.5%;
    padding: 1rem 1rem 2rem 1rem;
    display: none;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px rgba(211,47,47,0);
    width: 40vw;
    height: 35vw;
    margin-left: 30%;
}

.cross {
    font-weight: bold;
    color: red;
}

#b1 {
    position: absolute;
    left: 73%;
    top: 45%;
  }

#b2 {
    position: absolute;
    left: 42%;
    top: 32%;
}

#b3 {
    position: absolute;
    left: 67%;
    top: 50%;
}
#b4 {
    position: absolute;
    left: 22%;
    top: 50%;
}
#b5 {
    position: absolute;
    left: 42%;
    top: 62%;
}
#b6 {
    position: absolute;
    left: 31%;
    top: 50%;
}

#input1:checked ~ #content1,
#input2:checked ~ #content2,
#input3:checked ~ #content3 {
    display: block !important;
    animation: fadein .5s;
}

#input4:checked ~ #content4{
    display: block !important;
    animation: fadein .5s;
}

#input5:checked ~ #content5 {
    display: block !important;
    animation: fadein .5s;
}

#input6:checked ~ #content6 {
    display: block !important;
    animation: fadein .5s;
}


input:checked ~ label .button {
    display: none !important;
    animation: fadeout .5s;
}

.button:hover {
    color: #d32f2f;
    background: white;
}

.cta {
    display: inline-block;
    background: #d32f2f;
    color: white;
    padding: 12px 24px;
    margin-top: 48px;
    border-radius: 24px;
    text-decoration: none;
    transition: all .3s ease;
}

    .cta:hover {
        text-decoration: underline !important;
        box-shadow: 0 0 0 6px rgba(211, 46, 46, 0.4);
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px rgba(210, 226, 225);
    }

    to {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}
