body_2 {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

.container_2 {
    position: relative;
    overflow: hidden;
    height: 40vw;
    background-image: url("../img/info_soilsPlains.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    display: none;
}

p_2 {
    margin: 0;
}

.button {
    color: white;
    font-weight: bold;
    font-size: 1vw;
    background-color: #e0dcdc;
    display: block;
    padding: 1vw 1.5vw;
    border-radius: 100%;
    cursor: pointer;
    animation: fadein .5s;
    animation: pulse 1.5s infinite;
}

.content_2 {
    position: relative;
    background: white;
    top: -5%;
    margin: 3.5%;
    padding: 1rem 1rem 2rem 1rem;
    display: none;
    border-radius: 1vw;
    box-shadow: 0 4px 2px -2px rgba(211,47,47,0);
    width: 40vw;
    height: 35vw;
    margin-left: 30%;
}

.cross_2 {
    font-weight: bold;
    color: red;
}

#b7 {
    position: absolute;
    left: 60%;
    top: 42%;
  }

#b8 {
    position: absolute;
    left: 42%;
    top: 32%;
}

#b9 {
    position: absolute;
    left: 67%;
    top: 20%;
}
#b10 {
    position: absolute;
    left: 27%;
    top: 15%;
}
#b11 {
    position: absolute;
    left: 20%;
    top: 10%;
}
#b12 {
    position: absolute;
    left: 80%;
    top: 15%;
}

#input7:checked ~ #content7,
#input8:checked ~ #content8,
#input9:checked ~ #content9 {
    display: block !important;
    animation: fadein .5s;
}

#input10:checked ~ #content10 {
    display: block !important;
    animation: fadein .5s;
}

#input11:checked ~ #content11 {
    display: block !important;
    animation: fadein .5s;
}

#input12:checked ~ #content12 {
    display: block !important;
    animation: fadein .5s;
}


input:checked ~ label .button {
    display: none !important;
    animation: fadeout .5s;
}

.button:hover {
    color: #d32f2f;
    background: white;
}

.cta_2 {
    display: inline-block;
    background: #d32f2f;
    color: white;
    padding: 12px 24px;
    margin-top: 48px;
    border-radius: 24px;
    text-decoration: none;
    transition: all .3s ease;
}

    .cta_2:hover {
        text-decoration: underline !important;
        box-shadow: 0 0 0 6px rgba(211, 46, 46, 0.4);
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0px rgba(210, 226, 225);
    }

    to {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}
