@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<script language="JavaScript" src="~/js/pw.js"></script>*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MelGrass</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/grassland_logo.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/hotspot.css">
    <link rel="stylesheet" href="~/css/hotspot1.css">
    <link rel="stylesheet" href="~/css/hotspot2.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <link rel="stylesheet" href="~/css/info.css">
    <!-- CSS end -->
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="~/Iteration2/Index">
                                    <img src="~/img/grassland_logo.png" alt="" style="width:60%;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="~/Iteration2/Index">Home</a></li>
                                                <li><a href="~/Iteration2/Grasslands">Grassland</a></li>
                                                <li>
                                                    <a href="#">Search <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="~/Species/Index">Species</a></li>
                                                        @*<li><a href="single-blog.html">single-blog</a></li>*@
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/About">about</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/DragDrop">Game</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/Contact">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="book_room">
                                        <div class="book_btn">
                                            @*<a class="popup-with-form" href="#test-form">Function</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area_start -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Grassy Woodland</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <!-- text_start -->
    <link rel='stylesheet' href='~/css/hotspot.css'>
    <div class="container" style="padding-top:30px">
        <div class="section_title text-center">
            <h3>Let's explore this grassland</h3>
            <h1>Click the hotsposts and discover species</h1>
        </div>
    </div>
    <!-- text_end -->
    <div class="container1">
        <div class="container1">
            <input type="checkbox" class="input" id="input1" name="inputs">
            <input type="checkbox" class="input" id="input2" name="inputs">
            <input type="checkbox" class="input" id="input3" name="inputs">
            <input type="checkbox" class="input" id="input4" name="inputs">
            <input type="checkbox" class="input" id="input5" name="inputs">
            <input type="checkbox" class="input" id="input6" name="inputs">
            <label for="input1">
                <div id="b1" class="button">1</div>
            </label>
            <label for="input2">
                <div id="b2" class="button">2</div>
            </label>
            <label for="input3">
                <div id="b3" class="button">3</div>
            </label>
            <label for="input4">
                <div id="b4" class="button">4</div>
            </label>
            <label for="input5">
                <div id="b5" class="button">5</div>
            </label>
            <label for="input6">
                <div id="b6" class="button">6</div>
            </label>
            <div id="content1" class="content">
                <div style="text-align: right;">
                    <label for="input1" class="cross">X</label>
                </div>
                <h1>Striped Legless Lizard</h1>
                <img src="~/img/lizard.jpg" alt="Striped Legless Lizard" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>
            <div id="content2" class="content">
                <div style="text-align: right;">
                    <label for="input2" class="cross">X</label>
                </div>
                <h1>Golden Sun Moth</h1>
                <img src="~/img/goldenSunMoth.jpg" alt="Golden Sun Moth" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>
            <div id="content3" class="content">
                <div style="text-align: right;">
                    <label for="input3" class="cross">X</label>
                </div>
                <h1>Fat Tailed Dunnart</h1>
                <img src="~/img/fatTailedDunnart.jpg" alt="Fat Tailed Dunnart" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>

            <div id="content4" class="content">
                <div style="text-align: right;">
                    <label for="input4" class="cross" style="resize:both">X</label>
                </div>
                <h1>Growling Grass Frog</h1>
                <img src="~/img/growlingGrassFrog.jpg" alt="Growling Grass Frog" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>
            <div id="content5" class="content">
                <div style="text-align: right;">
                    <label for="input5" class="cross">X</label>
                </div>
                <h1>Laughing Kookaburra</h1>
                <img src="~/img/laughingKookaburra.jpg" alt="Laughing Kookaburra" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>
            <div id="content6" class="content">
                <div style="text-align: right;">
                    <label for="input6" class="cross">X</label>
                </div>
                <h1>Swift Parrot</h1>
                <img src="~/img/swiftParrot.jpg" alt="Swift Parrot" style="width:50%;">
                <br>
                <a href="#" class="cta">Find out more</a>
            </div>
        </div>
    </div>
    <!-- footer_start  -->
    <div>
        <hr />
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-lg-5 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="~/img/grassland_logo.png" alt="">
                                    </a>
                                </div>
                                <p class="address_text">
                                    <br> <br> <br>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Information
                                </h3>
                                <ul class="links">
                                    <li><a href="~/Iteration2/About">About</a></li>
                                    <li><a href="~/Iteration2/Grasslands">Information</a></li>
                                    <li><a href="~/Iteration2/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Follow Us
                                </h3>
                                <ul class="links">
                                    <li><a href="#">FaceBook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#"> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer_start  -->
    <style>
        .home-act {
            color: aquamarine
        }
    </style>
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--my js-->
    <script src="~/js/myjs.js"></script>
    <!--my js-->
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });</script>
</body>
</html>