@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<script language="JavaScript" src="~/js/pw.js"></script>*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MelGrass</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/grassland_logo.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/hotspot.css">
    <link rel="stylesheet" href="~/css/hotspot1.css">
    <link rel="stylesheet" href="~/css/hotspot2.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <link rel="stylesheet" href="~/css/info.css">
    <!-- CSS end -->
    <link rel='stylesheet' href='~/css/hotspot1.css'>
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="~/Iteration2/Index">
                                    <img src="~/img/grassland_logo.png" alt="" style="width:60%;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="~/Iteration2/Index">Home</a></li>
                                                <li><a href="~/Iteration2/Grasslands">Grassland</a></li>
                                                <li>
                                                    <a href="#">Search <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="~/Species/Index">Species</a></li>
                                                        @*<li><a href="single-blog.html">single-blog</a></li>*@
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/About">about</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/DragDrop">Game</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/Contact">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="book_room">
                                        <div class="book_btn">
                                            @*<a class="popup-with-form" href="#test-form">Function</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Heavier-soils Plains Grassland</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    <div class="container" style="padding-top:30px">
        <div class="section_title text-center">
            <h3>Let's explore this grassland</h3>
            <h1>Click the hotsposts and discover species</h1>
        </div>
    </div>
    <div class="container_2">
        <div class="container_2">
            <input type="checkbox" class="input" id="input7" name="inputs_2">
            <input type="checkbox" class="input" id="input8" name="inputs_2">
            <input type="checkbox" class="input" id="input9" name="inputs_2">
            <input type="checkbox" class="input" id="input10" name="inputs_2">
            <input type="checkbox" class="input" id="input11" name="inputs_2">
            <input type="checkbox" class="input" id="input12" name="inputs_2">
            <label for="input7">
                <div id="b7" class="button">1</div>
            </label>
            <label for="input8">
                <div id="b8" class="button">2</div>
            </label>
            <label for="input9">
                <div id="b9" class="button">3</div>
            </label>
            <label for="input10">
                <div id="b10" class="button">4</div>
            </label>
            <label for="input11">
                <div id="b11" class="button">5</div>
            </label>
            <label for="input12">
                <div id="b12" class="button">6</div>
            </label>
            <div id="content7" class="content_2">
                <div style="text-align: right;">
                    <label for="input7" class="cross_2">X</label>
                </div>
                <h1>Hoary Sunray</h1>
                <img src="~/img/hoarySunray.jpg" alt="Hoary Sunray" style="width:50%;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content8" class="content_2">
                <div style="text-align: right;">
                    <label for="input8" class="cross_2">X</label>
                </div>
                <h1>Scaly Buttons</h1>
                <img src="~/img/scalyButtons.jpg" alt="Scaly Buttons" style="width:50%;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content9" class="content_2">
                <div style="text-align: right;">
                    <label for="input9" class="cross_2">X</label>
                </div>
                <h1>Kneed Spear Grass</h1>
                <img src="~/img/kneedSpearGrass.jpg" alt="Kneed Spear Grass" style="width: 400px; height: 400px;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content10" class="content_2">
                <div style="text-align: right;">
                    <label for="input10" class="cross_2">X</label>
                </div>
                <h1>Lemon Beauty Heads</h1>
                <img src="~/img/lemonBeautyHeads.jpg" alt="Lemon Beauty Heads" style="width:50%;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content11" class="content_2">
                <div style="text-align: right;">
                    <label for="input11" class="cross_2">X</label>
                </div>
                <h1>Rice Flower</h1>
                <img src="~/img/riceFlower.jpg" alt="Rice Flowera" style="width:50%;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>

            <div id="content12" class="content_2">
                <div style="text-align: right;">
                    <label for="input12" class="cross_2">X</label>
                </div>
                <h1>Plume Grass</h1>
                <img src="~/img/plumeGrass.jpg" alt="Plume Grass" style="width:50%;">
                <br>
                <a href="#" class="cta_2">Find out more</a>
            </div>
        </div>
    </div>

    <!-- footer_start  -->
    <div>
        <hr />
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-lg-5 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="~/img/grassland_logo.png" alt="">
                                    </a>
                                </div>
                                <p class="address_text">
                                    <br> <br> <br>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Information
                                </h3>
                                <ul class="links">
                                    <li><a href="~/Iteration2/About">About</a></li>
                                    <li><a href="~/Iteration2/Grasslands">Information</a></li>
                                    <li><a href="~/Iteration2/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Follow Us
                                </h3>
                                <ul class="links">
                                    <li><a href="#">FaceBook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#"> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer_start  -->
    <style>
        .home-act {
            color: aquamarine
        }
    </style>
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--my js-->
    <script src="~/js/myjs.js"></script>
    <!--my js-->
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });</script>




</body>
</html>

