@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<script language="JavaScript" src="~/js/pw.js"></script>*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MelGrass</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/grassland_logo.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/hotspot.css">
    <link rel="stylesheet" href="~/css/hotspot1.css">
    <link rel="stylesheet" href="~/css/hotspot2.css">
    <link rel="stylesheet" href="~/css/imgSlider.css">
    <link rel="stylesheet" href="~/css/info.css">
    <!-- CSS end -->
</head>
<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="~/Iteration2/Index">
                                    <img src="~/img/grassland_logo.png" alt="" style="width:60%;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="~/Iteration2/Index">Home</a></li>
                                                <li><a href="~/Iteration2/Grasslands">Grassland</a></li>
                                                <li>
                                                    <a href="#">Search <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="~/Species/Index">Species</a></li>
                                                        @*<li><a href="single-blog.html">single-blog</a></li>*@
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/About">about</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/DragDrop">Game</a>
                                                </li>
                                                <li>
                                                    <a href="~/Iteration2/Contact">Contact</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="book_room">
                                        <div class="book_btn">
                                            @*<a class="popup-with-form" href="#test-form">Function</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Grassland Information</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <div class="prising_active d-flex justify-content-between">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="slider_text">
                        <h2>
                            About Grassland
                        </h2>
                        <p>
                            Grassland is a vegetation area dominated by almost continuously covered grass, and it is also one of the most widely distributed main vegetation types in the world.
                            Usually natural grassland can be considered as the middle part of the environmental gradient, with forest at one end and desert at the other end.
                            The grassland plays an important balancing role for the earth's environment.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="~/img/info_grasslands.jpg" class="imgTxt" style="width:100%; padding: 10px 10px 10px 10px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer_start  -->
    <div>
        <hr />
        <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-6 col-lg-5 ">
                            <div class="footer_widget">
                                <div class="footer_logo">
                                    <a href="#">
                                        <img src="~/img/grassland_logo.png" alt="">
                                    </a>
                                </div>
                                <p class="address_text">
                                    <br> <br> <br>
                                </p>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-dribbble"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Information
                                </h3>
                                <ul class="links">
                                    <li><a href="~/Iteration2/About">About</a></li>
                                    <li><a href="~/Iteration2/Grasslands">Information</a></li>
                                    <li><a href="~/Iteration2/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-6 col-lg-2">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Follow Us
                                </h3>
                                <ul class="links">
                                    <li><a href="#">FaceBook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#"> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer_start  -->
    <style>
        .home-act {
            color: aquamarine
        }
    </style>
    <!-- JS here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/ajax-form.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/scrollIt.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/gijgo.min.js"></script>

    <!--my js-->
    <script src="~/js/myjs.js"></script>
    <!--my js-->
    <!--contact js-->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });</script>

</body>
</html>